.container {
  margin-bottom: 5%;
  padding-top: 10px;
}
//   a{
//   color: rgb(0, 0, 0);
//  opacity: 0.8;
//   }
 mdb-card{
  max-height: 105px;
}
fa{
  color: brown;
}
mdb-icon{
  color: white;
}
h5{
  font-weight: bolder;
  color: black;
}
.padding10{
  padding: 10px;
}
.jumbotron{
  background-image: linear-gradient(to right, #884eb2 , #dcbff2);
 // background: #fdccf9bf;
}