.size {
  max-width: 800px;
}

img {
  width: 100px;
  height: 100px;
  border-radius: 100px;
}

.d-flex {
  background-color: dodgerblue;
  color: black
}

.color {
  background-color: white;
}

.card-header-title {
  margin-top: 25px;
}


.row {
  margin-top: 5%
}
h4{
  padding-top: 30px;
}
