
<mdb-navbar SideClass="navbar fixed-top navbar-expand-lg navbar-dark purple-gradient scrolling-navbar ie-nav"  [containerInside]="false" *ngIf="isLoggedIn$ | async">
  <mdb-navbar-brand>
      <a class="logo navbar-brand"  [routerLink]="['/home']"><strong>Jude CRM</strong></a>
  </mdb-navbar-brand>
  <links>
      <ul class="navbar-nav mr-auto">
          <li class="nav-item  waves-light" mdbWavesEffect>
              <a [routerLink]="['/todo']"  class="nav-link">ToDo <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item waves-light" mdbWavesEffect>
              <a [routerLink]="['/services']" class="nav-link">Services<span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item waves-light" mdbWavesEffect>
              <a [routerLink]="['/nationalinsurance']" class="nav-link">National Insurance</a>
          </li>
          <li class="nav-item waves-light" mdbWavesEffect>
              <a [routerLink]="['/lifeinsurance']" class="nav-link">Life Insurance</a>
          </li>
          <li class="nav-item waves-light" mdbWavesEffect>
              <a [routerLink]="['/lichfl']" class="nav-link">Lic-Hfl</a>
          </li>
          <li class="nav-item waves-light" mdbWavesEffect>
              <a [routerLink]="['/laughterthreapy']" class="nav-link">Laughter Threapy</a>
          </li>
      </ul>
      <ul class="navbar-nav nav-flex-icons">
          <li> <button type="button" (click)="logout()" style="border-radius:20px;" class="btn btn-danger">Logout!</button></li>
          <!-- <li class="nav-item waves-light" mdbWavesEffect>
              <a class="nav-link"><i class="fa fa-facebook"></i></a>
          </li>
          <li class="nav-item waves-light" mdbWavesEffect>
              <a class="nav-link"><i class="fa fa-twitter"></i></a>
          </li>
          <li class="nav-item waves-light" mdbWavesEffect>
              <a class="nav-link"><i class="fa fa-instagram"></i></a>
          </li> -->
      </ul>
  </links>
</mdb-navbar>

<!-- Main -->
<main>
  <div class="container">
      <div class="row mt-5 pt-5">
      </div>
  </div>
</main>
<!-- /.Main -->
