
<mdb-card>
  <mdb-card-body>
<form [formGroup]="licHflUpdateForm" (ngSubmit)='onUpdate()'>
    <p class="h5 text-center mb-4">LIC - HFL - Edit</p>

    <div class="col-xl-6 text-xs-center">
        <div class="card mb-3">
          <div class="card-body">
              <div class="md-form">
                  <i class="fa fa-calendar prefix blue-text"></i>
                  <input type="text" maxlength="20" formControlName="houseValue" #houseValue id="-houseValue" class="form-control" mdbInputDirective>
                  <label for="-houseValue">House Value</label>
                </div>
                <div class="md-form">
                  <i class="fa fa-user prefix blue-text"></i>
                  <input type="text" maxlength="20" formControlName="landValue" #landValue id="-landValue" class="form-control" mdbInputDirective>
                  <label for="-landValue">Land Value</label>
                </div>
                <div class="md-form">
                    <i class="fa fa-user prefix blue-text"></i>
                    <input type="text" maxlength="20" formControlName="monthlyIncome" #monthlyIncome id="-monthlyIncome" class="form-control" mdbInputDirective>
                    <label for="-monthlyIncome">Monthly Income</label>
                  </div>
                  <div class="md-form">
                      <i class="fa fa-user prefix blue-text"></i>
                      <input type="text" maxlength="20" formControlName="yearlyIncome" #yearlyIncome id="-yearlyIncome" class="form-control" mdbInputDirective>
                      <label for="-yearlyIncome">Yearly Income</label>
                    </div>
                    <div class="md-form">
                        <i class="fa fa-user prefix blue-text"></i>
                        <input type="text" maxlength="12" formControlName="contactNo" #contactNo id="-contactNo" class="form-control" mdbInputDirective>
                        <label for="-contactNo">Contact Number</label>
                      </div>
              <div class="text-center">
                  <button class="btn" [disabled]="!licHflUpdateForm.valid" mdbBtn type="submit" color="primary" class="waves-light" mdbWavesEffect>Submit</button>
              </div>
            </div></div></div>
</form>
</mdb-card-body>
</mdb-card>


